<div id="footer" style="margin-bottom: 0px; 
	background-color: #fff; 
	border: 1px solid transparent; 
	border-radius: 4px; 
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); 
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);"
>
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12">
		  Contact us:<br />
		  Address: DUT-RU International School of Information Science & Engineering, Dalian University of Technology, Dalian 116620, China.<br />
		  Email: zhongwei@mail.dlut.edu.cn<br />
		  &copy 2021 409 Lab. Theme with <a href="https://www.allanlab.org/aboutwebsite.html">Allan lab</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
